@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-success {
    @apply bg-verde text-white hover:bg-[#4e6856] hover:rounded-lg focus:ring-2 focus:outline-none focus:ring-[#3c5042] mt-2;
}

.btn-warning {
    @apply bg-color_secundary text-white hover:bg-[#be9748] focus:ring-2 focus:outline-none focus:ring-[#947538] mt-2;
}

.fondo_deg_formulario {
    @apply bg-gradient-to-r from-verde to-dorado h-9;
}

.button {
    @apply transition ease-out delay-150 text-white font-bold py-2 px-4 mx-1 rounded-md  
    hover:-translate-y-1 hover:scale-110 duration-300;
    /* animate-pulse */
}

.btn-transition {
    @apply transition ease-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300;
}

.btn-tablas {
    @apply py-0 px-0 rounded-full;
}

textarea {
    @apply bg-blanco text-textos rounded-md border-verde
    focus:border-verde focus:outline-none focus:ring-1 focus:ring-verde;
    /* resize-none */
}

 /* componentes generales FOCUS */
 select:focus,
 input[type="radio"]:focus,
 input[type="checkbox"]:focus,
 input[type="text"]:focus,
 input[type="number"]:focus,
 input[type="date"]:focus,
 input[type="password"]:focus {
     @apply focus:border-verde focus:outline-none focus:ring-1 ring-verde;
 }

 select {
    @apply bg-blanco text-textos rounded-md border-verde;
}

input[type="text"] {
    @apply bg-blanco text-textos rounded-md border-verde h-10;
}
